:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Inter", "NotoSans";
  transition: all 0.3s ease-in-out;
}
@font-face {
  font-family: "3270";
  src: url("/src/assets/3270-Regular.ttf")
}
@font-face {
  font-family: "Inter";
  src: url("/src/assets/Inter.ttf");
}
@font-face {
  font-family: "Bahnschrift";
  src: url("/src/assets/bahnschrift.ttf");
}
@font-face {
  font-family: "NotoSans";
  src: url("/src/assets/NotoSans.ttf");
}
